body {
	background-color: #79C28A;
}

.pipi {
	color: #3829C4;
	background-color: #8CD0A2;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
.pipi {
}

.lala { font-family: 'Fira Sans', sans-serif; 
}